# Node modules
/node_modules          # For the root project
/backend/node_modules   # For the backend project

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
/coverage

# Production builds
/build

# Miscellaneous
.DS_Store
node_modules

all_databases_backup.sql
backup_file.dump
